<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
    />
  </head>
  <body>
    <footer class="fixed-bottom text-center">
      <div class="container p-2 pb-0">
        <section class="mb-2">
          <a
            class="btn btn-outline-light btn-floating m-1"
            href="/home"
            role="button"
            ><i class="fab fa-facebook-f"></i
          ></a>

          <!-- Twitter -->
          <a
            class="btn btn-outline-light btn-floating m-1"
            href="/home"
            role="button"
            ><i class="fab fa-twitter"></i
          ></a>

          <!-- Linkedin -->
          <a
            class="btn btn-outline-light btn-floating m-1"
            href="/home"
            role="button"
            ><i class="fab fa-linkedin-in"></i
          ></a>
        </section>
      </div>

      <!-- Copyright -->
      <div class="copyright">
        ©{{ currentYear }} Copyright |
        <a class="text-white" href="https://github.com/Caprice943" target="_blank">Caprice H.</a> | Mentions légales
      </div>
      <!-- Copyright -->
    </footer>
  </body>
</html>
