<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div class="container">
      <h1 class="slogan">Le logiciel de gestion de produits qu'il vous faut !</h1>
      <p class="subtitle">Orbis et velut inminuta terrarum iracundae statum dolere vocibus cruentae fictis exaggerantium si et iracundae.</p>
      <p class="subtitle">Armatos iussit viri colligi inquit Gallus et ratione vel colligi.</p>
      <p class="subtitle">Fore documentis sed intactam quidem.</p>
    
      <div class="spacer"></div>
    
      <div class="card-container">
        <div class="card">
          <img src="../../assets/first_pic.jpg" alt="Image 1">
          <p>Oriente in circenses Constantius apparatu librans accipiens dubium aguntur partis excarnificatum theatralis multavit comitem atque.</p>
        </div>
      
        <div class="card">
          <img src="../../assets/second_pic.jpg" alt="Image 2">
          <p></p>
          <p>Voluntatem multatione hoc actique pars tamquam suspicionum indulta imperio et voluntatem relicto claudebantur relicto bonorum.</p>
        </div>
      
        <div class="card">
          <img src="../../assets/third_pic.jpg" alt="Image 3">
          <p>Cultis et quam principis nulli cedentem et velut nulli honorem aemulas: nitidis perpendiculum Palaestina magna.</p>
        </div>
      </div>


      <div class="image-text-section">
        <div class="image-container">
          <img src="../../assets/grande_section_img.jpg" alt="Grande Image">
        </div>
        <div class="text-container">
          <h2>GESTIOPROD à votre service</h2>
          <p>Et est admodum mirum videre plebem innumeram mentibus ardore quodam infuso cum dimicationum curulium eventu pendentem. haec similiaque memorabile nihil vel serium agi Romae permittunt. ergo redeundum ad textum.

            Ut enim quisque sibi plurimum confidit et ut quisque maxime virtute et sapientia sic munitus est, ut nullo egeat suaque omnia in se ipso posita iudicet, ita in amicitiis expetendis colendisque maxime excellit. Quid enim? Africanus indigens mei? Minime hercule! ac ne ego quidem illius; sed ego admiratione quadam virtutis eius, ille vicissim opinione fortasse non nulla, quam de meis moribus habebat, me dilexit; auxit benevolentiam consuetudo. Sed quamquam utilitates multae et magnae consecutae sunt, non sunt tamen ab earum spe causae diligendi profectae.</p>
        </div>
      </div>
      
    </div>
    
  </body>
</html>
